* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Letras */
    color: #4A2718;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;

    /* Background */
    background-image: linear-gradient(to bottom, #C7B89C, #936645, #5a2921);
    min-height: 100vh;
}

ul {
    display: flex;
    width: 100%;
    gap: 200px;
}

li {
    list-style: none;
}

a {
    color: #DBCEC3;
    text-decoration: none;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #582119;
}

header img {
    width: 150px;
    height: 150px;
    border: 8px solid #582119;
}

.center {
    margin-top: 100px;
    text-align: center;
}

.header1 {
    margin-top: 100px;
    width: 100%;
    text-align: center;
    font-size: 23px;
}

.header2 {
    text-align: center;
    font-size: medium;
}

.letras {
    text-align: left;
    font-size: 25px;
    font-weight: normal;
    color: #DBCEC3;
}

.letras2 {
    text-align: left;
    font-size: 20px;
    font-weight: normal;
    color: #DBCEC3;
    margin-top: 10px;
}

a.letras3 {
    display: block;
    color: #582119;
    font-size: 30px;
    text-align: left;
}

.conteiner {
    padding: 0px 50px;
}

nav a:hover {
    color: #a53321;
}

section {
    margin-top: 100px;
    scroll-margin-top: 20px;
}

.box {
    padding: 10px;
    border-radius: 1rem;
    background-color: #582119;
    box-shadow: 5px 5px 5px;
    margin-bottom: 30px;
}


.box2 {
    display: flex;
    padding: 10px;
    border-radius: 1rem;
    background-color: #582119;
}

.box3 {
    width: fit-content;
    min-width: 200px;
    padding: 15px 30px;
    border-radius: 1rem;
    background-color: #DBCEC3;
    box-shadow: 5px 5px 5px;
    margin-top: 15px auto 0;
    text-align: center;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.menu a {
    display: block;
    padding: 10px;
    border-radius: 1rem;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    text-align: center;
}